

body  {
    background-color: blueviolet;
    background-image: url(http://media.giphy.com/media/vWCBJQVex0bdu/giphy.gif);
    
    text-align: center;
    font-style: italic;
    color: white;

}
   
